.menu-item{
    display: flex;
    justify-content: flex-start;
}
.svg-logo{
    margin: 1em;
}
.item{

    padding-left: 1em;


    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 157%;
    /* identical to box height, or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    /* text / secondary */

    color: rgba(0, 0, 0, 0.54);


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

}